EXPO_PUBLIC_GPS_ROUTE_CHECK_INTERVAL_SECONDS=30
EXPO_PUBLIC_NAVIGATION_LOCATION_UPDATE_SECONDS=1
EXPO_PUBLIC_ROUTE_RECALCULATION_INTERVAL_SECONDS=30
EXPO_PUBLIC_OFF_ROUTE_DISTANCE_METERS=50
EXPO_PUBLIC_ARRIVAL_RADIUS_METERS=30
